DISTNAME="" # e.g Red Hat Enterprise Linux 9.3
DISTFILE="" # e.g rhel-9.3-x86_64-kvm.qcow2, located in ansible/localdc/distributions
DISTPLAYBOOKS="" # e.g rh-register.yml ansible/localdc/playbooks, for multiple playbooks, separate with space