[Unit]
Description=DNS configuration for virbr0
BindsTo=sys-subsystem-net-devices-virbr0.device
After=sys-subsystem-net-devices-virbr0.device

[Service]
Type=oneshot
ExecStart=/usr/bin/resolvectl dns virbr0 192.168.124.1
ExecStart=/usr/bin/resolvectl domain virbr0 sudo.net
ExecStopPost=/bin/echo "Virbr0 dns stop doing nothing"
#ExecStopPost=/usr/bin/resolvectl revert virbr0
RemainAfterExit=yes

[Install]
WantedBy=sys-subsystem-net-devices-virbr0.device
